.todopattern{
        top:0;
        bottom:0;
        left:0;
        right:0;
        position:absolute;
        z-index:2;
        background-image: url("/static/images/corona.png");
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
}

.todolistmain{
	padding: 10px;
	font-size: 16px;
	width: 270px;
	margin: auto;
}

.header{
	padding:10px;
	font-size:16px;
	width:250px;
}

thead{
	background-color:rgba(2,17,21,0.8);
}

tr{
	background-color:rgba(2,17,21,0.8);
}
tbody>tr:hover{
	color:rgb(2,17,21);
	background-color:rgba(38,218,253,0.8);
}

input{
	padding:10px;
	font-size:16px;
	background-color:rgba(38,218,253,0.5);
	border-color:#23defd;
}

li{
	color: #021114;
	background-color: rgba(38,218,253,0.5);
	padding: 15px;
	margin-bottom: 15px;
	width:250px;
}

li:hover{
	background-color: rgba(38,218,253,1);
}

ul{
	padding-left:10px;
}

input{
	width:250px;
}

button{
	width:250px;
}
